* {

    /* margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box */
  
}
  
html, body, #root {
    
    min-height: 100%;
  
}
  
body {
    
    overflow-x: hidden;
    background-size: cover;
    max-height: 100%;

   

}